.dark_mode {
  display: flex;
  align-items: center;
}

.dark_mode_label {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode_label svg {
  position: absolute;
  width: 30px;
  top: 5px;
  z-index: 100;
}

.dark_mode_label svg.sun {
  left: 5px;
  fill: #313237;
  transition: 0.3s;
}

.dark_mode_label svg.moon {
  left: 5px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: var(--text-main-color);
}

.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: var(--text-main-color);
}
