@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.dark_mode {
  @include displayFlexCenter;
  position: relative;
  width: $header-height;

  @include onDesktop {
    width: $header-desktop-height;
  }
  height: 100%;
  box-shadow: -1px 0px 0px 0px var(--header-box-shadow-color);
}

.dark_mode_label {
  @include displayFlexCenter;

  width: 100%;
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode_label svg {
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 100;
}

.dark_mode_label svg.sun {
  fill: #313237;
  transition: 0.3s;
}

.dark_mode_label svg.moon {
  fill: #7e7e7e;
  transition: 0.3s;
}

.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: var(--text-main-color);
}

.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: var(--text-main-color);
}
