@import 'styles/utils/mixins';

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;

  li {
    display: inline;
  }

  .page-item {
    margin-right: 4px;

    @include onTablet {
      margin-right: 5px;
    }

    @include onTablet {
      margin-right: 7px;
    }
  }

  .page-item:last-child {
    margin-right: 0;
  }

  button {
    cursor: pointer;
    transition:
      background-color 0.2s,
      transform 0.2s;

    // @include onMiniTalet {
    //   padding: 10px 15px;
    // }

    // @include onTablet {
    //   padding: 10px 15px;
    // }

    // @include onTablet {
    //   padding: 10px 15px;
    // }
  }

  .page-link {
    @include displayFlexCenter;
    width: 32px;
    height: 32px;
    color: var(--text-main-color);
    border: 1px solid var(--icon-border);
    background-color: var(--icon-favorite-background);
    cursor: pointer;

    &-icon {
      fill: var(--icon-favorite);
      width: 16px;
      height: 16px;
    }

    &:hover {
      border-color: var(--icon-border-hover);
      background-color: var(--card-add-button);
      color: #fff;

      .page-link-icon {
        fill: #fff;
      }
    }
  }
  .active {
    button {
      background-color: var(--card-add-button);
      color: #fff;
    }
  }

  .disabled {
    button {
      background-color: inherit;
      color: var(--icon-right-color);
      cursor: not-allowed;
    }
  }

  .previous,
  .next {
    button {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
    }
  }

  .previous:hover,
  .next:hover {
    button {
      background-color: var(--card-add-button);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
