@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.phone-actions {
  width: 100%;
  min-width: 236px;

  @include onTablet {
    max-width: 400px;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    font-family: 'Mont', sans-serif;
    font-size: 12px;
    color: var(--gray-secondary-color);

    margin-bottom: 8px;

    & h4 {
      font-weight: 500;
    }

    & span {
      text-transform: uppercase;
      font-size: 10px;
      color: var(--gray-icons-placeholders-color);
    }
  }

  &__color {
    padding-bottom: 24px;
    margin-bottom: 32px;

    border-bottom: 1px solid var(--gray-elements-color);

    &-select {
      width: 32px;
      height: 32px;

      margin-right: 8px;
      padding: 2px;

      border: 1px solid var(--gray-elements-color);
      border-radius: 50%;
      background-clip: content-box;

      cursor: pointer;

      transition: border-color $transition-duration;

      &:hover {
        border-color: var(--gray-icons-placeholders-color);
      }

      /* #region all colors for products */
      &.silver {
        background-color: $phone-silver;
      }

      &.gold {
        background-color: $phone-gold;
      }

      &.rosegold {
        background-color: $phone-rosegold;
      }

      &.black {
        background-color: $phone-black;
      }

      &.spacegray {
        background-color: $phone-spacegray;
      }

      &.spaceblack {
        background-color: $phone-spaceblack;
      }

      &.yellow {
        background-color: $phone-yellow;
      }

      &.red {
        background-color: $phone-red;
      }

      &.white {
        background-color: $phone-white;
      }

      &.coral {
        background-color: $phone-coral;
      }

      &.midnightgreen {
        background-color: $phone-midnightgreen;
      }

      &.midnight {
        background-color: $phone-midnight;
      }

      &.purple {
        background-color: $phone-purple;
      }

      &.sierrablue {
        background-color: $phone-sierrablue;
      }

      &.starlight {
        background-color: $phone-starlight;
      }

      &.graphite {
        background-color: $phone-graphite;
      }

      &.pink {
        background-color: $phone-pink;
      }

      &.green {
        background-color: $phone-green;
      }

      /* #endregion*/

      &.selected {
        border-color: var(--gray-primary-color);
      }
    }
  }

  &__capacity {
    padding-bottom: 24px;
    margin-bottom: 32px;

    border-bottom: 1px solid var(--gray-elements-color);

    &-select {
      height: 32px;

      padding: 4px 8px;
      margin-right: 8px;

      font-size: 14px;
      font-family: 'Mont', sans-serif;
      font-weight: 500;
      text-transform: uppercase;

      background-color: var(--white-color);
      border: 1px solid var(--gray-icons-placeholders-color);

      transition: border-color $transition-duration;

      cursor: pointer;

      &:hover {
        border-color: var(--gray-primary-color);
      }

      &.selected {
        color: var(--white-color);
        background-color: var(--gray-primary-color);
        border-color: var(--gray-primary-color);
        pointer-events: none;
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 16px;

    color: var(--gray-primary-color);
    font-size: 32px;
    font-weight: 800;

    &--discount {
      text-decoration: line-through;
      font-size: 22px;
      font-weight: normal;

      color: var(--gray-secondary-color);
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;

    margin-bottom: 32px;

    &-cart {
      @include displayFlexCenter;
      flex: 1 0 0;

      height: 48px;

      font-size: 14px;

      background-color: var(--gray-primary-color);
      border: 1px solid var(--gray-primary-color);
      color: var(--white-color);

      transition: $transition-duration;
      cursor: pointer;

      &.selected {
        border: 1px solid var(--gray-primary-color);
        background-color: var(--white-color);
        color: var(--green-color);
      }

      @include onTablet {
        &:hover {
          border: 1px solid var(--gray-primary-color);
          background-color: var(--white-color);
          color: var(--gray-primary-color);

          @include buttonHover;
        }
      }
    }

    &-like {
      @include displayFlexCenter;

      width: 48px;
      height: 48px;

      border: 1px solid var(--gray-icons-placeholders-color);
      background-color: var(--white-color);

      transition: $transition-duration;

      cursor: pointer;

      &.selected {
        border-color: var(--gray-primary-color);
      }

      @include onTablet {
        &:hover {
          border: 1px solid var(--gray-primary-color);
        }
      }
    }
  }
}

.additional-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: 'Mont', sans-serif;
  font-size: 12px;
  font-weight: 600;

  &__info {
    display: flex;
    justify-content: space-between;

    &--title {
      color: var(--gray-secondary-color);
      font-family: 'Mont', sans-serif;
      font-size: 12px;
      font-weight: 600;
    }

    &--value {
      color: var(--gray-primary-color);
    }
  }
}
