@import 'styles/utils/mixins';
@import 'styles/utils/vars';

.card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  border: 1px solid var(--gray-elements-color);
  transition: box-shadow $transition-duration;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    height: 130px;
    transition: transform $transition-duration;

    &-img {
      height: 130px;
    }
  }

  &:hover {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);

    .card__image {
      transform: scale(1.03);
    }

    .card__name {
      transform: scale(1.03);
    }
  }

  &__name {
    color: var(--gray-primary-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    height: 63px;
    display: flex;
    text-align: start;
    padding-top: 16px;
    padding-bottom: 8px;
    margin: 8px 0;
    transition: transform $transition-duration;
  }

  &__price {
    color: var(--gray-primary-color);
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;

    &-old {
      color: var(--gray-secondary-color);
      text-decoration-line: line-through;
      font-weight: 600;
    }
  }

  &__divider {
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--gray-elements-color);
    margin: 8px 0;
  }

  &__specs {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    &__line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      &-name {
        color: var(--gray-secondary-color);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &-value {
        color: var(--gray-primary-color);
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    &-card {
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      flex: 1 0 0;
      background: var(--gray-primary-color);
      color: var(--white-color);
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      border: none;

      @include buttonHover;

      &:active {
        background: var(--gray-secondary-color);
      }
    }

    
    &-favorites {
      transition: opacity $transition-duration;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid var(--gray-icons-placeholders-color);
      background: transparent;
      opacity: 0.6;

      &-icon {
        fill: var(--gray-primary-color);
        width: 16px;
        height: 16px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  @include onTablet {
    width: 288px;
    height: auto;

    &__image {
      height: 196px;

      &-img {
        height: 196px;
      }
    }
  }
}
