@import '../../styles/utils/mixins';

.phone {
  margin: 0 auto;
  padding: 24px 16px 56px;
  max-width: 1136px;
  text-align: left;

  @include onTablet {
    padding: 24px 24px 64px;
  }

  @include onDesktop {
    padding: 24px 32px 81px;
  }

  &__title {
    padding-top: 16px;
    margin-bottom: 32px;

    font-size: 22px;
    font-weight: 800;
    color: var(--gray-primary-color);

    @include onTablet {
      margin-bottom: 40px;

      font-size: 32px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;

    @include onTablet {
      flex-direction: row;
      align-items: start;
      justify-content: center;

      gap: 24px;
      margin-bottom: 64px;
    }

    @include onDesktop {
      justify-content: space-between;
      gap: 64px;

      margin-bottom: 80px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;

      gap: 64px;
      margin-bottom: 80px;
    }
  }

  &__about {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      max-width: 560px;
      margin-bottom: 0;
    }
  }
}

.description {
  &__title {
    display: block;

    font-size: 22px;
    font-weight: 700;

    padding-bottom: 16px;
    margin-bottom: 30px;

    color: var(--gray-primary-color);

    border-bottom: 1px solid #e2e6e9;
  }
}

.about {
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-primary-color);

    @include onTablet {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: normal;
    color: var(--gray-secondary-color);
  }
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  color: var(--gray-secondary-color);

  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 24px;
  }

  &__home {
    display: block;
    width: 16px;
    height: 16px;
  }

  &__arrow {
    display: block;
    width: 16px;
    height: 16px;
  }

  &__category {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--gray-primary-color);
  }

  &__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.tech-specs {
  min-width: 250px;
  width: 100%;

  @include onDesktop {
    max-width: 400px;
  }
}

.categ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

  &__title {
    font-weight: 500;
    color: var(--gray-secondary-color);
  }

  &__value {
    padding-left: 10px;
    color: var(--gray-primary-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
