@import 'src/styles/utils/_mixins.scss';
@import 'src/styles/utils/_vars.scss';

.cart-card {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--icon-selected-border);

  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
    padding: 24px;
  }

  &__remove-button {
    grid-column: span 1;
    background: transparent;
    border: none;
    width: 16px;
    height: 16px;
  }

  &__remove-icon {
    fill: var(--icon-right-color);

    @include defaultHover;
  }

  &__img {
    height: 100%;

    &-container {
      grid-column: span 2;

      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    grid-column: span 3;

    @include onTablet {
      grid-column: span 4;
    }

    font-size: 14px;
    font-weight: 200;
    color: var(--text-main-color);
    min-width: 100px;
  }

  &__amount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    color: var(--text-main-color);

    grid-column: span 3;

    @include onTablet {
      grid-column: 9 / 11;
    }

    &-button {
      transition: opacity $transition-duration;
      width: 32px;
      height: 32px;

      @include displayFlexCenter;

      border: 1px solid var(--icon-border);
      background-color: var(--icon-favorite-background);
      cursor: pointer;
      opacity: 0.6;

      &-icon {
        fill: var(--icon-favorite);
        width: 16px;
        height: 16px;
      }

      @include onDesktop {
        &:hover {
          border-color: var(--icon-border-hover);
        background-color: var(--icon-background-hover);
      }
      }
    }

    &-number {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__price {
    margin-left: auto;
    grid-column: span 3 / -1;

    @include onTablet {
      grid-column: span 2;
    }

    color: var(--text-main-color);
    font-size: 22px;
    font-weight: 600;
  }
}
