@import 'src/styles/utils/_mixins.scss';
@import 'src/styles/utils/_vars.scss';

.cart-card {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--gray-elements, #e2e6e9);

  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
    padding: 24px;
  }

  &__remove-button {
    grid-column: span 1;
    background: transparent;
    border: none;
    width: 16px;
    height: 16px;
  }

  &__remove-icon {
    fill: var(--gray-secondary-color);

    @include defaultHover;
  }

  &__img {
    height: 100%;

    &-container {
      grid-column: span 2;

      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    grid-column: span 3;

    @include onTablet {
      grid-column: span 4;
    }

    font-size: 14px;
    font-weight: 200;
    color: var(--gray-primary-color);
    min-width: 100px;
  }

  &__amount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;

    grid-column: span 3;

    @include onTablet {
      grid-column: 9 / 11;
    }

    &-button {
      transition: opacity $transition-duration;
      width: 32px;
      height: 32px;

      @include displayFlexCenter;

      border: 1px solid var(--gray-icons-placeholders-color);
      background: transparent;

      opacity: 0.6;

      &--icon {
        width: 16px;
        height: 16px;
        fill: var(--gray-primary-color);
      }

      @include onDesktop {
        &:hover {
          opacity: 1;
        }
      }
    }

    &-number {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__price {
    margin-left: auto;
    grid-column: span 3 / -1;

    @include onTablet {
      grid-column: span 2;
    }

    color: var(--gray-primary-color);
    font-size: 22px;
    font-weight: 600;
  }
}
