@import 'styles/utils/_mixins.scss';

.back-link {
  display: flex;
  align-items: center;
  gap: 4px;

  border: none;
  background: transparent;
  cursor: pointer;

  color: var(--text-back);
  font-size: 12px;
  font-weight: 500;
  font-family: 'Mont', sans-serif;

  &__icon {
    fill: var(--icon-favorite);
    width: 16px;
    height: 16px;
  }

  @include defaultHover;
}
