$tablet-width: 640px;
$desktop-width: 1200px;

$header-height: 48px;
$header-desktop-height: 64px;

$transition-duration: 0.3s;


// products colors
$phone-silver: #E4E4E2;
$phone-gold: #F5DDC5;
$phone-rosegold: #E6C7C2;
$phone-black: #000000;
$phone-spacegray: #25282A;
$phone-spaceblack: #333334;
$phone-yellow: #FFE681;
$phone-red: #A5282C;
$phone-white: #F9F6EF;
$phone-coral: #EE7762;
$phone-midnightgreen: #4E5851;
$phone-midnight: #00040d;
$phone-sierrablue: #BFDAF7;
$phone-starlight: #F8F9EC;
$phone-pink: #FFC0CB;
$phone-graphite: #383428;
$phone-purple: #B8AFE6;
$phone-green: #E1F8DC;
