@import 'styles/utils/mixins';

.hotPrices {
  margin-bottom: 80px;

  &__container {
    margin: 0 auto;
    max-width: 1136px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: var(--text-main-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
    margin-bottom: 24px;
  }

  &__arrows {
    display: flex;
    gap: 16px;

    &-icons {
      @include displayFlexCenter;
      width: 32px;
      height: 32px;
      border: 1px solid var(--icon-border);
      background-color: var(--icon-favorite-background);
      cursor: pointer;

      &-arrow {
        fill: var(--icon-favorite);
        width: 16px;
        height: 16px;
      }

      &:hover {
        border-color: var(--icon-border-hover);
        background-color: var( --icon-background-hover);
      }
    }
  }

  @media (max-width: 1199px) {
    margin-bottom: 64px;

    &__top {
      margin-inline: 32px;
    }
  }

  @media (max-width: 639px) {
    margin-bottom: 57px;

    &__top {
      margin-inline: 16px;
    }

    &__title {
      font-size: 22px;
      line-height: 140%;
      letter-spacing: normal;
    }
  }
}
