@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.buttons {
  display: flex;
}

.icon-wrapper {
  display: none;
  position: relative;

  justify-content: center;
  align-items: center;

  width: $header-height;

  box-shadow: -1px 0px 0px 0px var(--header-box-shadow-color);

  @include onTablet {
    display: flex;
  }

  @include onDesktop {
    width: $header-desktop-height;
  }

  &--menu {
    cursor: pointer;
    display: flex;
    justify-content: center;

    @include onTablet {
      display: none;
    }
  }

  &.is-active {
    border-bottom: 3px solid var(--text-main-color);
  }
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--icon-favorite);

  &--menu.is-active {
    display: none;
  }

  &__quantity {
    position: absolute;
    top: 10px;
    left: 25px;
    transform: translate(50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 9px;
    font-weight: 600;
    background-color: var(--red-color);
    height: 14px;
    width: 14px;
    border-radius: 50%;
  }
}
