@import 'styles/utils/mixins';

.category {
  grid-column: span 4;

  &__img {
    margin: 0;
    width: 100%;
  }

  &__name {
    color: var(--gray-primary-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  &__description {
    color: var(--gray-secondary-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  @include onDesktop {
    grid-column: span 8;
  }
}
