@import 'styles/utils/mixins';

.products-catalog {
  margin-top: 30px;

  &__wrapper-title {
    margin-top: 30px;
    color: var(--card-main-text-color);

    &-second {
      color: var(--text-secondary-color);
    }
  }

  &__content {
    margin: 40px 0;

    justify-content: center;
    align-items: center;
  }

  &__loader {
    margin-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pagination {
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
