@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.menu {
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  padding-top: 24px;

  z-index: 5;

  @include onTablet {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    height: 27px;

    margin-bottom: 16px;

    font-size: 12px;
    font-weight: 800;
    line-height: 27px;
    color: var(--gray-secondary-color);

    &.is-active {
      color: var(--gray-primary-color);
      border-bottom: 3px solid var(--gray-primary-color);
    }
  }

  &__buttons {
    display: flex;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 64px;

    border: solid 1px var(--gray-elements-color);

    &.is-active {
      border-bottom: 3px solid var(--gray-primary-color);
    }
  }
}
