@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--body-background-color);

  // display: block;
  box-shadow: 0px -1px 0px 0px var(--header-box-shadow-color);

  &__container {
    margin: auto;
    max-width: 1200px;
    padding: 32px 16px;

    @include onTablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    margin-bottom: 32px;

    &--icon {
      width: 89px;
      height: 32px;
    }

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin: 0 auto;
    padding-top: 32px;
    display: flex;
    align-items: center;

    border: none;
    background-color: var(--body-background-color);

    font-size: 12px;
    font-family: 'Mont', sans-serif;
    font-weight: 600;

    cursor: pointer;

    color: var(--text-secondary-color);

    transition: color $transition-duration;

    @include onTablet {
      margin: 0;
      padding-top: 0;

      &:hover {
        color: var(--text-main-color);
      }

      &:hover .footer__btn--icon {
        border-color: var(--text-main-color);
      }
    }

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 24px;
      height: 24px;
      margin-left: 16px;
      border: 1px solid var(--gray-icons-placeholders-color);

      transition: border $transition-duration;
    }
  }
}

.contacts {
  max-width: 370px;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-transform: uppercase;

    @include onTablet {
      justify-content: center;
      flex-direction: row;
      // align-self: stretch;
      gap: 32px;
    }

    @include onDesktop {
      gap: 100px;
    }
  }

  &__link {
    display: flex;

    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.48px;

    color: var(--text-secondary-color);
    transition: color $transition-duration;

    @include onTablet {
      &:hover {
        color: var(--text-main-color);
      }
    }
  }
}
