@import 'styles/utils/mixins';

.pathname {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  color: var(--gray-secondary-color);

  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 24px;
  }

  &__home {
    display: block;
    width: 16px;
    height: 16px;

    &-icon {
      fill: var(--icon-favorite);
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
    fill: var(--icon-right-color);
  }

  &__category {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-secondary-color);
  }
}
